*{   

 font-family: "Lato", sans-serif;
}


h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  font-family: "Orbitron", sans-serif;
  
}

:root{
    --yellow: rgb(255, 232, 31);
    --black: #171717;
    --white: #f4f4f4;
    --red: #e4202b;
    
}

.bg-yellow{
    background-color: var(--yellow);
}
.bg-black{
    background-color: var(--black);
}
.bg-white{
    background-color: var(--white);
}

.text-yellow{
    color: var(--yellow);
}
.text-black{
    color: var(--black);
}
.text-white{
    color: var(--white);
}


/* Navbar Custom */
.navbar{
    height: 140px;
    transition: 0.5s;
}
.nav-link{
    color: var(--yellow);
    font-weight:700;
}
.nav-link:hover {

color: var(--white) !important;

text-shadow: 2px 2px  5px var(--red), -2px  -2px 5px var(--red);

}


.logo{
    width: 50px;
}


